<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script type="text/javascript" src="controller.js">

  </script>
  <link rel="shortcut icon" href="#" />
  <title ng-bind="respuesta"></title>
</head>

<body>
  <div class="container"> Entiendes el contenido de este libro?
    <input type="checkbox" ng-model="respuesta">
    <div ng-hide="respuesta">
      <h2>Me esforzare más!</h2>
    </div>
    <div ng-show="respuesta">
      <h2>Felicidades!</h2>
    </div>
  </div>

  <div class="container" ng-controller="miCtrl">
    <h1 ng-bind="mensaje"> </h1>
  </div>

  <div class="container">
    <div ng-controller="padreCtrl">
      <button ng-click="logPadre()">Padre</button><br><br>
      <div ng-controller="hijoCtrl">
        <button ng-click="logHijo()">Hijo</button><br><br>
        <div ng-controller="nietoCtrl">
          <button ng-click="logNieto()">Nieto</button><br><br>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="amigo">
    <p ng-bind="anuncio"></p>
    <input type="text" ng-model="anuncio">
  </div>
  <br><br>

  <div ng-controller="controlador">

    <form action="#">
      Contraseña: <input type="password" ng-model="password">
      <p ng-show="errorMinimo">Error: No cumple con el mínimo de caracteres (6)</p>
    </form>
  </div>
  <br><br>

  <div ng-controller="algo">
    <form action="#">
      Contraseña: <input type="password" ng-model="password"><br><br>
      Rectificar: <input type="password" ng-model="password2">
      <p ng-hide="coincidencia">Error: Las contraseñas no coinciden</p>
    </form>
  </div>
  <br><br>
  <div ng-controller="insertando">
    <p>Seccion de comentarios</p>
    User name: <input type="text" ng-model="comentarioNew.user"><br><br>
    Comentario: <input type="text" ng-model="comentarioNew.comentario"><br><br>
    <button type="button" name="button" ng-click="inserta()">Agrega tu comentario</button>
    <button type="button" name="button" ng-click="limpiaTabla()">borrar comentarios</button>
    <ul>
      <li ng-repeat="publica in comentarios">
        <p> user: {{publica.user}} - comentario: {{publica.comentario}}</p>

      </li>
    </ul>
  </div>
   <div ng-controller='random'>
<button type="button" name="button" ng-click='descrube()'>click here</button>     

   </div>

  <script src="lib/angular.js"></script>
  <script src="bower_components/angular/angular.js"></script>
</body>

</html>
